<!DOCTYPE html>
<html>
<head>
<title>Posada Byteados</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="{{ url_for('static', filename='js/reservas.js') }}"></script>

</head>
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Inicio</a>
  <a href="#habitaciones" class="w3-bar-item w3-button w3-hide-small w3-hover-white">info Cabañas</a>
  <a href="#espacios_comunes" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Espacios Comunes</a>
  <a href="#actividades_extra" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Actividades Extra</a>
  <a href="#reserva_ahora" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Nuestras Cabañas</a>
  <a href="#contacto" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contacto</a>
  </div>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Cabañas</a>
    <a href="#work" class="w3-bar-item w3-button">Espacios Comunes</a>
    <a href="#extra" class="w3-bar-item w3-button">Actividades Extras</a>
    <a href="#contact" class="w3-bar-item w3-button">Contacto</a>
    <a href="#nos" class="w3-bar-item w3-button">Nosotros</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="{{ url_for('static', filename='Imagenes/posada.jpg') }}" style="width:100%;">
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div>

<!-- Work Row -->
<section id="habitaciones">
    <!--carrucel-->
    <div id="d-flex flex-column">
      <h2 class="text-white fs-2">¡Echa un vistazo a nuestras Cabañas!</h2>
      <h4 class="text-white fs-4">Todas nuestras cabañas están equipadas con:</h4>
      <ul class="d-flex flex-column text-white p-0 my-4 gap-3 fs-5">
        <li class="d-flex align-middle gap-2">
          <i class="fa fa-bath"></i>
          Baño/s privado/s con ducha
        </li>
        <li class="d-flex align-middle gap-2">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Kitchenette
        </li>
        <li class="d-flex align-middle gap-2">
          <i class="fa fa-lock" aria-hidden="true"></i>
          Caja fuerte
        </li>
        <li class="d-flex align-middle gap-2">
          <i class="fa fa-television" aria-hidden="true"></i>
          Smart TV
        </li>
      </ul>
    </div>
      <div id="carouselExampleIndicators" class="carousel slide carusel-image" data-ride="carousel">
        <div class="carousel-inner">
          {% for image in lista %}
            <div 
              {% if image == lista[0] %}
                class="carousel-item active"
              {% else %}
                class="carousel-item"
              {% endif %}>
                <img class="d-block w-100" src="{{ url_for('static', filename=image )}}" alt="First slide">
            </div>
          {% endfor %}
          
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

</section>

<!-- Pricing Row -->
<section id="espacios_comunes">
    <div class="w3-row-padding w3-center w3-padding-64" id="pricing">
        <h2>Instalaciones Comunes</h2>
        <h4>Aqui podras disfrutar de nuestros espacios</h4>

        <div class="w3-third w3-margin-bottom">
          <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme header">
              <p class="w3-xlarge">Pileta común</p>
              <p class="info">Para dias calurosos podras disfrutar de nuestra piscina!!</p>
            </li>
            <img src="{{ url_for('static', filename='Imagenes/pileta.jpg') }}"alt="Habitacion1" style="width:100%">
          </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
          <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme header">
              <p class="w3-xlarge">Sala de SPA</p>
              <p class="info">Una increible sala de spa para que puedas relajarte despues de un dia muy largo de haber conocido la zona!!</p>
            </li>
            <img src="{{ url_for('static', filename='Imagenes/spa.jpg') }}"alt="Habitacion1" style="width:100%">
          </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
          <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme header">
              <p class="w3-xlarge">Arcade con cocina</p>
              <p class="info">Podras disfrutar de todos los juegos que tenemos para ti!
                 pool, videojuegos, television, metegol y muchos juegos de mesa!!
              </p>
            </li>
            <img src="{{ url_for('static', filename='Imagenes/juegos.jpg') }}"alt="Habitacion1" style="width:100%">
            </li>
          </ul>
        </div>
    </div>
</section>


<!-- Pricing Row -->
<section id="actividades_extra">
    <div class="w3-row-padding w3-center w3-padding-64" id="extra">
        <h2>Actividades Adicionales</h2>
        <h5>Algunas de nuestras actividades</h5><br>
        <div class="w3-row-padding">
            <div class="w3-half w3-margin-bottom">
            <img src="{{ url_for('static', filename='Imagenes/tour1.jpg') }}" alt="Norway" style="width:100%">
            <div class="w3-container w3-white">
                <h3>Tour Cumbrecita</h3>
                  <span class="hide" id="hideText">
                    <p> <h5>Por persona US$54</h5> <br>
                      <h4>Recorrido</h4><h5>Salida:</h5> Partirás desde la ciudad de Córdoba por la Ruta Provincial E55, pasando por el Monumento a Myriam Stefford, Alta Gracia, Anisacate, La Bolsa y Villa Ciudad de América. <br>
                      <br>
                      <h5>Transcurso del dia:</h5> El recorrido continuará cruzando los cuatro ríos afluentes del lago “Los Molinos” y los pueblos de Potrero de Garay y “Los Reartes”. Desde allí ascendemos por las Sierras Grandes, atravesando una pintoresca región de bosques de coníferas. 
                      Pasarás por Villa Berna y llegarás a La Cumbrecita, un pequeño pueblo de estilo alpino que tiene la singularidad de ser uno de los pocos pueblos peatonales del mundo. 
                      Visitarás el balneario La Olla, el tradicional hotel La Cumbrecita, la capilla ecuménica, etc. 
                      Entonces puedes conocer Villa General Belgrano, con su particular fisonomía centroeuropea. <br> 
                      <br>
                      <h5>Llegada:</h5> Regresando por la Curva del Viento, disfrutando de una espectacular vista panorámica del Lago y Dique Los Molinos; y emprenderá el regreso a Córdoba. <br>
                      <br><br>

                      La empresa se reserva el derecho de alterar y / o modificar itinerarios y excursiones contratados ante cuestiones de diagramación y/o causas de fuerza mayor y / o caso fortuito que impidan el normal cumplimiento del mismo: corte de rutas x nevadas, huracanes, inundaciones, reprogramación de eventos y / o cualquier otro factor que pueda significar un riesgo o una falta de servicio para el pasajero.</p>
                </span>
                <button class="w3-button w3-block w3-black w3-margin-bottom" id="hideText_btn">Mas Información</button>
            </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <img src="{{ url_for('static', filename='Imagenes/tour2.jpg') }}" alt="Austria" style="width:100%">
          <div class="w3-container w3-white">
              <h3>Wine Tour Privado a Colonia Caroya</h3>
                <span class="hide" id="hideText2">
                  <p> <h5>Por persona US$114</h5> <br>
                  
                  <h4>Recorrido:</h4>Este tour privado de bodega de un día completo es una excelente manera de disfrutar del sabor de algunos 
                  de los mejores viñedos locales sin tener que preocuparse por organizar el transporte o mantenerse al día con un grupo. 
                  También tendrás la oportunidad de disfrutar de un exquisito almuerzo con maridaje de vinos antes de regresar a la ciudad. <br>
                  <br>
                  <br>
                  La empresa se reserva el derecho de alterar y / o modificar itinerarios y excursiones contratados ante cuestiones de diagramación y/o causas de fuerza mayor y / o caso fortuito que impidan el normal cumplimiento del mismo: corte de rutas x nevadas, huracanes, inundaciones, reprogramación de eventos y / o cualquier otro factor que pueda significar un riesgo o una falta de servicio para el pasajero.La empresa se reserva el derecho de alterar y / o modificar itinerarios y excursiones contratados ante cuestiones de diagramación y/o causas de fuerza mayor y / o caso fortuito que impidan el normal cumplimiento del mismo: corte de rutas x nevadas, huracanes, inundaciones, reprogramación de eventos y / o cualquier otro factor que pueda significar un riesgo o una falta de servicio para el pasajero.
                  </p>
                </span>
                <button class="w3-button w3-block w3-black w3-margin-bottom" id="hideText_btn2">Mas Información</button>
            </div>
        </div>
        </div>
</section>

<section id="reserva_ahora">
  <div class="w3-row-padding w3-center w3-padding-64">
      <h2>Nuestras Cabañas</h2>
      <div class="botones-cabañas">
          <button class="boton" onclick="togglecabaña('Bestia Clérigo')">Bestia Clérigo</button>
          <button class="boton" onclick="togglecabaña('Vicaria Amelia')">Vicaria Amelia</button>
          <button class="boton" onclick="togglecabaña('Emisario Celestial')">Emisario Celestial</button>
          <button class="boton" onclick="togglecabaña('Presencia Lunar')">Presencia Lunar</button>
          <button class="boton" onclick="togglecabaña('Adela')">Adela</button>
          <button class="boton" onclick="togglecabaña('Almendra')">Almendra</button>
      </div>
      <div id="detalles-Bestia Clérigo" class="detalles-cabaña">
          <p>Bestia Clérigo <br>
            De todas las cabañas esta es espectacular por lo alejada de las demas, para una aventura mas solitaria
          </p>
          <img src="{{ url_for('static', filename='Imagenes/bestiaclerigo.jpg') }}" alt="Bestia Clérigo"> <br>
          <a href="/"><button class="btn-reserva-hover btn-reserva">Reserva ya</button></a>
      </div>
      <div id="detalles-Vicaria Amelia" class="detalles-cabaña">
          <p>Vicaria Amelia <br>
            Esta es una cabaña que ofrece buenas vistas
          </p>
          <img src="{{ url_for('static', filename='Imagenes/vicariaamelia.jpg') }}" alt="Vicaria Amelia"> <br>
          <a href="/"><button class="btn-reserva-hover btn-reserva">Reserva ya</button></a>
      </div>
      <div id="detalles-Emisario Celestial" class="detalles-cabaña">
          <p>Emisario Celestial <br>
            Esta cabaña ofrece un ambiente celestial para quienes quieren un lugar mucho mas magico
          </p>
          <img src="{{ url_for('static', filename='Imagenes/emisariocelestial.jpg') }}" alt="Emisario Celestial"> <br>
          <a href="/"><button class="btn-reserva-hover btn-reserva">Reserva ya</button></a>
      </div>
      <div id="detalles-Presencia Lunar" class="detalles-cabaña">
          <p>Presencia Lunar <br>
            Esta cabaña ofrece un techo de transparente directamente para que puedas mirar el cielo
          </p>
          <img src="{{ url_for('static', filename='Imagenes/presencialunar.jpg') }}" alt="Presencia Lunar"> <br>
          <a href="/"><button class="btn-reserva-hover btn-reserva">Reserva ya</button></a>
      </div>
      <div id="detalles-Adela" class="detalles-cabaña">
          <p>Adela <br>
            Esta cabaña es elegida por muchos por su amplio espacio
          </p>
          <img src="{{ url_for('static', filename='Imagenes/adela.jpg') }}" alt="Adela"> <br>
          <a href="/"><button class="btn-reserva-hover btn-reserva">Reserva ya</button></a>
      </div>
      <div id="detalles-Almendra" class="detalles-cabaña">
          <p>Almendra <br>
              esta cabaña deja olor a almendra apenas entras
          </p>
          <img src="{{ url_for('static', filename='Imagenes/almendra.jpg') }}" alt="Almendra"> <br>
          <a href="/"><button class="btn-reserva-hover btn-reserva">Reserva ya</button></a>
      </div>
  </div>
</section>


<!-- Contact Container -->
<section id="contacto">
  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
      <div class="w3-col m5">
      <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Sobre Nosotros</span></div>
      <i class="fa fa-map-marker" style="width:30px"></i> Los Terrones 950 esquina, Batalla de Caseros, X5184 Capilla del Monte, Córdoba<br>
      <i class="fa fa-phone" style="width:30px"></i> Telefono : +54 2482-5445<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email : posadabyteados@gmail.com<br>
      <br>
      <h3>Ubicación:</h3>
      <img class="mapa" width="100%" src="{{ url_for('static', filename='Imagenes/mapa.jpg') }}">
      </div>
  </div>
  </div>
</section>
<!-- Image of location/map -->
<img src="{{ url_for('static', filename='Imagenes/posadanoche.jpg') }}" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Seguinos en nuestras redes</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Ir al inicio</span>   
    <a class=" w3-theme-2" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script src="{{ url_for('static', filename='js/script.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/reservas.js' )}}"></script>
<script src="{{ url_for('static', filename='js/actividad2.js' )}}"></script>
</body>
</html>
