<!DOCTYPE html>
<html>
<head>
<title>Hostel Fulanito</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Inicio</a>
  <a href="#habitaciones" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Habitaciones</a>
  <a href="#espacios_comunes" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Espacios Comunes</a>
  <a href="#actividades_extra" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Actividades Extra</a>
  <a href="#contacto" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contacto</a>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Habitaciones</a>
    <a href="#work" class="w3-bar-item w3-button">Espacios Comunes</a>
    <a href="#extra" class="w3-bar-item w3-button">Actividades Extras</a>
    <a href="#contact" class="w3-bar-item w3-button">Contacto</a>
    <a href="#nos" class="w3-bar-item w3-button">Nosotros</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="{{ url_for('static', filename='Imagenes/HotelRandom2.jpg') }}" class="w3-image w3-greyscale-min" style="width:100%;">
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div>

<!-- Work Row -->
<section id="habitaciones">
    <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

    <div class="w3-quarter">
    <h2>Nuestras Habitaciones</h2>
    <p>Info sobre el Hostel!!!</p>
    </div>

    <div class="w3-quarter">
    <div class="w3-card w3-white">
        <img src="{{ url_for('static', filename='Imagenes/habitacion1.jpg') }}"alt="Habitacion1" style="width:100%">
    <div class="w3-container">
    <h3>Habitacion 1</h3>
    <h6 class="w3-opacity">Desde US$40</h6>
    <p>Tipo camas</p>
    <p>dim<sup>habitacion</sup></p>
    <p>Mas info escrita o q se entienda con los dibujitos de abajo</p>
    <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
    <a href="{{ url_for('habitacion_1')}}">
        <button class="w3-button w3-block w3-black w3-margin-bottom">Seleccionar habitacion</button>
    </a>
    </div>
    </div>
    </div>

    <div class="w3-quarter">
    <div class="w3-card w3-white">
        <img src="{{ url_for('static', filename='Imagenes/habitacion2.jpg') }}"alt="Habitacion2" style="width:100%">
    <div class="w3-container">
        <h3>Habitacion 2</h3>
        <h6 class="w3-opacity">Desde US$40</h6>
        <p>Tipo camas</p>
        <p>dim<sup>habitacion</sup></p>
        <p>Mas info escrita o q se entienda con los dibujitos de abajo</p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
        <a href="{{ url_for('habitacion_2')}}">
        <button class="w3-button w3-block w3-black w3-margin-bottom">Seleccionar habitacion</button>
        </a>
    </div>
    </div>
    </div>

    <div class="w3-quarter">
    <div class="w3-card w3-white">
    <img src="{{ url_for('static', filename='Imagenes/habitacion3.jpg') }}"alt="Habitacion3" style="width:100%">
    <div class="w3-container">
        <h3>Habitacion 3</h3>
        <h6 class="w3-opacity">Desde US$40</h6>
        <p>Tipo camas</p>
        <p>dim<sup>habitacion</sup></p>
        <p>Mas info escrita o q se entienda con los dibujitos de abajo</p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
        <a href="{{ url_for('habitacion_3')}}">
        <button class="w3-button w3-block w3-black w3-margin-bottom">Seleccionar habitacion</button>
        </a>
    </div>
    </div>
    </div>

    </div>
</section>
<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>

<!-- Pricing Row -->
<section id="espacios_comunes">
    <div class="w3-row-padding w3-center w3-padding-64" id="pricing">
        <h2>ESPACIOS COMUNES</h2>
        <p>bla bla bla</p><br>
        <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme">
            <p class="w3-xlarge">Terraza</p>
            </li>
            <img src="{{ url_for('static', filename='Imagenes/terraza.jpg') }}"alt="Habitacion1" style="width:100%">
            <p> Podriamos decir que cosas incluye el ambiente </p>
        </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme-l2">
            <p class="w3-xlarge">Lobby con sala de Juegos</p>
            </li>
            <img src="{{ url_for('static', filename='Imagenes/salajuegos.jpg') }}"alt="Habitacion1" style="width:100%">
        </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-hover-shadow">
            <li class="w3-theme">
            <p class="w3-xlarge">Cocina</p>
            </li>
            <img src="{{ url_for('static', filename='Imagenes/cocina.jpg') }}"alt="Habitacion1" style="width:100%">
            </li>
        </ul>
        </div>
    </div>
</section>


<!-- Pricing Row -->
<section id="actividades_extra">
    <div class="w3-row-padding w3-center w3-padding-64" id="extra">
        <h2>ACTIVIDADES EXTRA</h2>
        <p>cosas extras que podriamos ofrecer </p><br>
        <div class="w3-row-padding">
            <div class="w3-half w3-margin-bottom">
            <img src="{{ url_for('static', filename='Imagenes/bsas1.jpg') }}" alt="Norway" style="width:100%">
            <div class="w3-container w3-white">
                <h3>Excursión 1 , Bs as</h3>
                <p class="w3-opacity">Por persona $30</p>
                <p>Visita a bla bla.</p>
                <button class="w3-button w3-block w3-black w3-margin-bottom">Mas Informacion</button>
            </div>
            </li>
        </ul>
        </div>
        <div class="w3-half w3-margin-bottom">
            <img src="{{ url_for('static', filename='Imagenes/bsas2.jpg') }}" alt="Austria" style="width:100%">
            <div class="w3-container w3-white">
            <h3>Excursión 2 , Bs as</h3>
            <p class="w3-opacity">Por persona $4</p>
            <p>Visita a Fiuba!!</p>
            <button class="w3-button w3-block w3-black w3-margin-bottom">Mas info</button>
            </div>
        </div>
        </div>
</section>


<!-- Contact Container -->
<section id="contacto">
    <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-row">
        <div class="w3-col m5">
        <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contacto/info</span></div>
        <i class="fa fa-map-marker" style="width:30px"></i> John Fitzgerald Kennedy 2970, Palermo , Buenos Aires<br>
        <i class="fa fa-phone" style="width:30px"></i> Telefono : +54 1111-1111<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email : mail@mail.com<br>
        <h3>Address</h3>
        <p>Por aca podria ir el mapita</p>
        </div>
        <div class="w3-col m7">
            <p>Estas interesado o tenes alguna consulta? Escribinos:  //  o para poner info de registro</p>
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
        <div class="w3-section">      
            <label>Nombre y apellido</label>
            <input class="w3-input" type="text" name="Name" required>
        </div>
        <div class="w3-section">      
            <label>Email</label>
            <input class="w3-input" type="text" name="Email" required>
        </div>
        <div class="w3-section">      
            <label>Mensaje</label>
            <input class="w3-input" type="text" name="Message" required>
        </div>  
        <button type="submit" class="w3-button w3-right w3-theme">Enviar</button>
        </form>
        </div>
    </div>
    </div>
</section>
<!-- Image of location/map -->
<img src="{{ url_for('static', filename='Imagenes/HotelRandom.jpg') }}" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Seguinos en nuestras redes</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>
</html>