{% extends "base_form.html" %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cancelacion.css')}}">
{% endblock %}

{% block h1 %}Cancela tu reserva{% endblock %}

{% block formulario %}

<div class="container right-panel-active" style="margin-top: 2%;">

  <div class="container__form container--signup" id="consultar_reservas">
    <h2>Consultar reservas a tu nombre:</h2>
    <form action="{{ url_for('form_consultar_reservas') }}" class="form" id="conultar_reservas", method="get">
      <div class="input-group">
        <label><i class="fa fa-male"></i> Nombre y Apellido</label>
        <input type="text" placeholder="Nombre Apellido" class="input" name="fname" required/>
      </div>
      <div class="input-group">
        <label><i class="fa fa-id-card"></i> DNI o Pasaporte</label>
          <input type="text" placeholder="12345678" class="input" name="fdni" required/>
      </div>
      <button button type="submit"class="btn">Consultar</button>
    </form>
  </div>

  <br><br><br><br>

  <div class="container__form container--signup" id="cancelar_reserva">
    <div class="container-formularios">
      <h2>Cancelá tu reserva:</h2>
      <form action="{{ url_for('forms_cancelacion') }}" class="form" id="cancelar_reservas", method="post">
        <div class="input-group">
                  <label><i class="fa fa-ticket"></i>ID Reserva</label>
                  <input type="text" placeholder="12345678" class="input" name="reserva_id" required/>
                </div>
                <div class="input-group">
                  <label><i class="fa fa-envelope"></i> Email</label>
                  <input type="email" placeholder="ejemplo@gmail.com" class="input" name="mail_cancelacion" required/>
              </div>
        <button button type="submit"class="btn">Cancelar reserva</button>
      </form>
   
  <br>
  <a href="{{ url_for('index') }}"><button class="btn">Volver</button> </a> 
  
  </div>
  </div>

</div>

{% endblock %}
