{% extends "base_form.html" %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cancelacion.css')}}">
{% endblock %}

{% block h1 %}Cancela tu reserva{% endblock %}

{% block formulario %}
<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="{{ url_for('forms_cancelacion') }}" class="form" id="form1", method="post">
			<div class="input-group">
                <label><i class="fa fa-ticket"></i>ID Reserva</label>
                <input type="text" placeholder="12345678" class="input" name="reserva_id" required/>
              </div>
              <div class="input-group">
                <label><i class="fa fa-envelope"></i> Email</label>
                <input type="email" placeholder="ejemplo@gmail.com" class="input" name="mail_cancelacion" required/>
            </div>
			<button class="btn">Cancelar reserva</button>
		</form>
	</div>
</div>
{% endblock %}
