<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body class="w3-content w3-border-left w3-border-right">

<!-- Sidebar/menu -->
<header> <h1>Haz tu reserva</h1></header>


<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="{{ url_for('reserva') }}" target="_blank" method="post" class="form" id="form1">
			
      <div class="input-group">
        <label><i class="fa fa-calendar-check-o"></i> Fecha ingreso</label>
        <input type="text" placeholder="DD / MM / AAAA" class="input" name="fcheckin" required/>
    </div>

    <div class="input-group">
      <label><i class="fa fa-calendar-check-o"></i> Fecha salida</label>
      <input type="text" placeholder="DD / MM / AAAA" class="input" name="fcheckout" required/>
  </div>

  <div class="input-group">
    <label><i class="fa fa-male"></i> Nombre y Apellido</label>
    <input type="text" placeholder="Nombre Apellido" class="input" name="fname" required/>
  </div>

    <div class="input-group">
      <label><i class="fa fa-envelope"></i> Email</label>
      <input type="email" placeholder="Email" class="input" name="femail" required/>
  </div>
  
  <div class="input-group">
    <label><i class="fa fa-id-card"></i> DNI</label>
    <input type="text" placeholder="dni" class="input" name="fdni" required/>
  </div>
		
  <div class="input-group">
    <label><i class="fa fa-phone"></i> Numero de telefono</label>
    <input type="text" placeholder="telefono" class="input" name="fnumero" required/>
  </div>

			<button class="btn">Reservar</button>
		</form>
	</div>
  



	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
				<p>calendario</p>
			</div>
		</div>
	</div>
</div>



  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>
{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='js/hab.js')}}"></script>

</body>
</html>
<p></p>

