
{% block content %}
<!-- Slideshow Header -->
<div class="w3-container" id="apartment">
<h2 class="w3-text-green">The Apartment</h2>
<div class="w3-display-container mySlides">
<img src="/w3images/livingroom.jpg" style="width:100%;margin-bottom:-6px">
<div class="w3-display-bottomleft w3-container w3-black">
<p>Living Room</p>
</div>
</div>
<div class="w3-display-container mySlides">
<img src="/w3images/diningroom.jpg" style="width:100%;margin-bottom:-6px">
<div class="w3-display-bottomleft w3-container w3-black">
<p>Dining Room</p>
</div>
</div>
<div class="w3-display-container mySlides">
<img src="/w3images/bedroom.jpg" style="width:100%;margin-bottom:-6px">
<div class="w3-display-bottomleft w3-container w3-black">
<p>Bedroom</p>
</div>
</div>
<div class="w3-display-container mySlides">
<img src="/w3images/livingroom2.jpg" style="width:100%;margin-bottom:-6px">
<div class="w3-display-bottomleft w3-container w3-black">
<p>Living Room II</p>
</div>
</div>
</div>
<div class="w3-row-padding w3-section">
<div class="w3-col s3">
<img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/livingroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
</div>
<div class="w3-col s3">
<img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/diningroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
</div>
<div class="w3-col s3">
<img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/bedroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
</div>
<div class="w3-col s3">
<img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/livingroom2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
</div>
</div>

<div class="w3-container">
<h4><i class="fa fa-fw fa-bed"></i><strong>Habitacion 1</strong></h4>
<div class="w3-row w3-large">
<div class="w3-col s6">
<p><i class="fa fa-fw fa-male"></i> Capacidad: 4 personas</p>
<p><i class="fa fa-fw fa-bath"></i> Cantidad baños: 2</p>
</div>
<div class="w3-col s6">
<p><i class="fa fa-fw fa-clock-o"></i> Horario ingreso: 10AM</p>
<p><i class="fa fa-fw fa-clock-o"></i> Horario egreso: 8AM</p>
</div>
</div>
<hr>

<h4><strong>Incluye</strong></h4>
<div class="w3-row w3-large">
<div class="w3-col s6">
<p><i class="fa fa-fw fa-shower"></i> Baño compartido</p>
<p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
<p><i class="fa fa-fw fa-tv"></i> TV</p>
</div>
<div class="w3-col s6">
<p><i class="fa fa-fw fa-cutlery"></i> Cocina</p>
<p><i class="fa fa-fw fa-thermometer"></i> Calefacción y aire acondicionado</p>
<p><i class="fa fa-fw fa-wheelchair"></i> Accesible</p>
</div>
</div>
<hr>

<h4><strong>Extra Info</strong></h4>
<p>Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
<hr>

<h4><strong>Rules</strong></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Subscribe to receive updates on available dates and special offers.</p>
<p><button class="w3-button w3-green w3-third" onclick="document.getElementById('subscribe').style.display='block'">Subscribe</button></p>
</div>
<hr>



{% endblock %}