
{% extends "base_general.html" %}

{% block estilos %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}
</head>


{% block body %}
<body id="myPage">
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Inicio</a>
    <a href="#habitaciones" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Cabañas</a>
    <a href="#reserva_ahora" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Reserva</a>
    <a href="#espacios_comunes" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Espacios Comunes</a>
    <a href="#actividades_extra" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Actividades Extra</a>
    <a href="#contacto" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contacto</a>
    <div>
     <button class="w3-bar-item w3-button w3-hide-small w3-hover-white" id="moon_btn"><i id="modeFa" class="fa fa-sun-o"></i></button>
   </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Cabañas</a>
    <a href="#work" class="w3-bar-item w3-button">Espacios Comunes</a>
    <a href="#extra" class="w3-bar-item w3-button">Actividades Extras</a>
    <a href="#contact" class="w3-bar-item w3-button">Contacto</a>
    <a href="#nos" class="w3-bar-item w3-button">Nosotros</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="{{ url_for('static', filename='Imagenes/posada.jpg') }}" style="width:100%;">
</div>


<!-- Carrusel cabañas -->
<section id="habitaciones" class="bc-light-gray">
  <!--carrucel-->

  <h2 class="text-white fs-2">¡Echa un vistazo a nuestras Cabañas!</h2>
  <div class="pc-only text-pc-carrucel">
    <div id="d-flex flex-column" class="width50">
      <h4 class="text-white fs-4">Todas nuestras cabañas están equipadas con:</h4>
      <ul class="d-flex flex-column text-white p-0 my-4 gap-3 fs-5 text-pc-carrucel">
        <li class="d-flex align-middle gap-2" >
          <i class="fa fa-bath"></i>
          Baño/s privado/s con ducha
        </li>
        <li class="d-flex align-middle gap-2">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Kitchenette
        </li>
        <li class="d-flex align-middle gap-2">
          <i class="fa fa-lock" aria-hidden="true"></i>
          Caja fuerte
        </li>
        <li class="d-flex align-middle gap-2">
          <i class="fa fa-television text-pc-carrucel" aria-hidden="true"></i>
          Smart TV
        </li>
      </ul>
    </div>
    <div id="d-flex flex-column" class="width50">
      <div id="carouselExampleIndicators" class="carousel slide carusel-display" data-ride="carousel">
        <div class="carousel-inner width100">
          {% for image in lista_carrucel %}
            <div 
              {% if image == lista_carrucel[0] %}
                class="carousel-item active carousel-image"
              {% else %}
                class="carousel-item"
              {% endif %}>
                <img class="d-block width100 carousel-image" src="{{image}}" style="width:100%; height:auto;" alt="First slide">
            </div>
          {% endfor %}
          
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class=" phone-only">
    <div id="carouselExampleIndicators" class="carousel slide carusel-image" data-ride="carousel">
      <div class="carousel-inner">
        {% for image in lista_carrucel %}
          <div 
            {% if image == lista_carrucel[0] %}
            class="carousel-image-container carousel-item active"
            {% else %}
              class="carousel-item"
            {% endif %}>
            <img class="d-block carousel-image" src="{{image}}" >
          </div>
        {% endfor %}
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div id="d-flex flex-column">
        <h3 class="text-white fs-4">Todas nuestras cabañas están equipadas con:</h3>
        <ul class="carusel-cualidades text-white">
          <li class="align-middle gap-2 item-list">
            <i class="fa fa-bath"></i>
            <p>Caja fuerte</p>
          </li>
          <li class="align-middle gap-2 item-list">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <p>Caja fuerte</p>
          </li>
          <li class="align-middle gap-2 item-list">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <p>Caja fuerte</p>
          </li>
          <li class="align-middle gap-2 item-list">
            <i class="fa fa-television" aria-hidden="true"></i>
            <p>Caja fuerte</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section id="reserva_ahora" class="bc-white">
  <div class="w3-row-padding w3-center w3-padding-64">
      <h2>Nuestras Cabañas</h2>
      <div class="botones-cabañas">
          {% for cabania in cabanias.keys() %}
            <button class="boton boton-cabania" data-cabania-id="{{cabania}}">
              {{ cabanias[cabania]["nombre"] }}
            </button>
          {% endfor %}
      </div>
      {% for cabania in cabanias.keys() %}
        <div class="detalles-cabaña" id="{{ cabania }}">
          <strong>{{ cabanias[cabania]["nombre"] }}</strong>
          <br>
          <p>{{ cabanias[cabania]["descripcion"] }}</p>
          <img src="{{ url_for('static', filename='Imagenes/' + cabania + '.jpg') }}" class="imagen-cabaña" alt="Bestia Clérigo"> <br>
          <a href="{{url_for('reserva', cabania_id=cabania) }}"><button class="btn-reserva-hover btn-reserva">Reserva ya</button></a>
        </div>
      {% endfor %}
  </div>
</section>

<section id="espacios_comunes" class="bc-light-gray">
  <div class="w3-row-padding w3-center w3-padding-64" id="pricing">
      <h2>Instalaciones Comunes</h2>
      <h4>Aqui podras disfrutar de nuestros espacios</h4>
      {% for espacio in dic_espacios %}
            <div class="w3-third w3-margin-bottom">
              <ul class="w3-ul w3-hover-shadow w3-theme header">
                <li>
                  <p class="w3-xlarge">{{espacio}}</p>
                  <p class="info">{{dic_espacios[espacio][0]}}</p>
                </li>
                <img src="{{ url_for('static', filename=dic_espacios[espacio][1]) }}"alt="Habitacion1" style="width:100%">
              </ul>
            </div>
          {% endfor %}

  </div>
</section>


<!-- Pricing Row -->
<section id="actividades_extra" class="bc-white">
    <div class="w3-row-padding w3-center w3-padding-64" id="extra">
        <h2>Actividades Adicionales</h2>
        <h5>Algunas de nuestras actividades</h5><br>
        <div class="w3-row-padding">
            <div class="w3-half w3-margin-bottom">
            <img src="{{ url_for('static', filename='Imagenes/tour1.jpg') }}" alt="Norway" style="width:100%">
            <div class="w3-container w3-white">
                <h3>Tour Cumbrecita</h3>
                  <span class="hide" id="hideText">
                    <p> <h5>Por persona US$54</h5> <br>
                      <h4>Recorrido</h4><h5>Salida:</h5> Partirás desde la ciudad de Córdoba por la Ruta Provincial E55, pasando por el Monumento a Myriam Stefford, Alta Gracia, Anisacate, La Bolsa y Villa Ciudad de América. <br>
                      <br>
                      <h5>Transcurso del dia:</h5> El recorrido continuará cruzando los cuatro ríos afluentes del lago “Los Molinos” y los pueblos de Potrero de Garay y “Los Reartes”. Desde allí ascendemos por las Sierras Grandes, atravesando una pintoresca región de bosques de coníferas. 
                      Pasarás por Villa Berna y llegarás a La Cumbrecita, un pequeño pueblo de estilo alpino que tiene la singularidad de ser uno de los pocos pueblos peatonales del mundo. 
                      Visitarás el balneario La Olla, el tradicional hotel La Cumbrecita, la capilla ecuménica, etc. 
                      Entonces puedes conocer Villa General Belgrano, con su particular fisonomía centroeuropea. <br> 
                      <br>
                      <h5>Llegada:</h5> Regresando por la Curva del Viento, disfrutando de una espectacular vista panorámica del Lago y Dique Los Molinos; y emprenderá el regreso a Córdoba. <br>
                      <br><br>

                      La empresa se reserva el derecho de alterar y / o modificar itinerarios y excursiones contratados ante cuestiones de diagramación y/o causas de fuerza mayor y / o caso fortuito que impidan el normal cumplimiento del mismo: corte de rutas x nevadas, huracanes, inundaciones, reprogramación de eventos y / o cualquier otro factor que pueda significar un riesgo o una falta de servicio para el pasajero.</p>
                </span>
                <button class="w3-button w3-block w3-black w3-margin-bottom" id="hideText_btn">Mas Información</button>
            </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <img src="{{ url_for('static', filename='Imagenes/tour2.jpg') }}" alt="Austria" style="width:100%">
          <div class="w3-container w3-white">
              <h3>Wine Tour Privado a Colonia Caroya</h3>
                <span class="hide" id="hideText2">
                  <p> <h5>Por persona US$114</h5> <br>
                  
                  <h4>Recorrido:</h4>Este tour privado de bodega de un día completo es una excelente manera de disfrutar del sabor de algunos 
                  de los mejores viñedos locales sin tener que preocuparse por organizar el transporte o mantenerse al día con un grupo. 
                  También tendrás la oportunidad de disfrutar de un exquisito almuerzo con maridaje de vinos antes de regresar a la ciudad. <br>
                  <br>
                  <br>
                  La empresa se reserva el derecho de alterar y / o modificar itinerarios y excursiones contratados ante cuestiones de diagramación y/o causas de fuerza mayor y / o caso fortuito que impidan el normal cumplimiento del mismo: corte de rutas x nevadas, huracanes, inundaciones, reprogramación de eventos y / o cualquier otro factor que pueda significar un riesgo o una falta de servicio para el pasajero.La empresa se reserva el derecho de alterar y / o modificar itinerarios y excursiones contratados ante cuestiones de diagramación y/o causas de fuerza mayor y / o caso fortuito que impidan el normal cumplimiento del mismo: corte de rutas x nevadas, huracanes, inundaciones, reprogramación de eventos y / o cualquier otro factor que pueda significar un riesgo o una falta de servicio para el pasajero.
                  </p>
                </span>
                <button class="w3-button w3-block w3-black w3-margin-bottom" id="hideText_btn2">Mas Información</button>
            </div>
        </div>
        </div>
</section>
</body>
{% endblock %}


{% block footer_boton %}
  <a href="{{url_for('cancelar') }}"><button class="btn-reserva-hover btn-reserva">¿Quieres cancelar una reserva?</button></a>
{% endblock %}

{% block flecha_index %}
<div style="position:fixed;left:95%;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
  <a class=" w3-theme-2" href="#myPage"><span class="w3-xlarge">
  <i class="fa fa-chevron-circle-up"></i></span></a>
</div>
{% endblock %}

