{% extends "base_form.html" %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservas.css')}}">

{% endblock %}

{% block formulario %}

<div class="Titulo">
  <h1>Reserva tu Cabaña</h1>
</div>

<div class="container right-panel-active" style="padding-top: 3%; padding-bottom: 3%;margin-top: 0%; justify-content: space-evenly;">

  <br>
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="{{ url_for('forms_reserva') }}" method="post" class="form" id="form1">
			
      <div class="input-group">
        <label><i class="fa fa-calendar-check-o"></i> Fecha ingreso</label>
        <input type="date" placeholder="DD / MM / AAAA" class="input input_calendario" name="fcheckin" required/>
    </div>

    <div class="input-group">
      <label><i class="fa fa-calendar-check-o"></i> Fecha salida</label>
      <input type="date" placeholder="DD / MM / AAAA" class="input input_calendario" name="fcheckout" required/>
  </div>

  <div class="input-group">
    <label><i class="fa fa-male"></i> Nombre y Apellido</label>
    <input type="text" placeholder="Nombre Apellido" class="input" name="fname" required/>
  </div>

    <div class="input-group">
      <label><i class="fa fa-envelope"></i> Email</label>
      <input type="email" placeholder="ejemplo@gmail.com" class="input" name="femail" required/>
  </div>
  
  <div class="input-group">
    <label><i class="fa fa-id-card"></i> DNI o Pasaporte</label>
    <input type="text" placeholder="12345678" class="input" name="fdni" required/>
  </div>
		
  <div class="input-group">
    <label><i class="fa fa-phone"></i> Numero de telefono</label>
    <input type="text" placeholder="11-1234-5678" class="input" name="fnumber" required/>
  </div>

  <input type="hidden" name="cabania_id" value="{{ cabania_id }}" />

			<button type="submit"class="btn">Reservar</button>
		</form>

	</div>

  <div class="calendario-wrapper">
    {% for calendario_data, nombre_mes in calendarios %}
      
      {% if (calendario_data, nombre_mes) == calendarios[0] %}
        <div class="calendar calendar_active">
      {% else %}
        <div class="calendar">
      {% endif %}
          <header>
            <h2>{{ nombre_mes }}</h2>
          </header>
          <div class="calendar__header">
              <div class="header-day">Lu</div>
              <div class="header-day">Ma</div>
              <div class="header-day">Mi</div>
              <div class="header-day">Ju</div>
              <div class="header-day">Vi</div>
              <div class="header-day">Sá</div>
              <div class="header-day">Do</div>
          </div>
          {% for semana in calendario_data %}
          <div class="calendar__week">
            {% for dia in semana.keys() %}
              {% if semana[dia]["ocupado"] %}
                <div class="calendar__day busy_day">
              {% else %}
                <div class="calendar__day">
              {% endif %}
                  <b class="day">{{semana[dia]["dia"]}}</b>
                </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
  <button style="margin-top: 12px;" id="cambiar-calendario">
    Siguiente
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
  <br>
  <br>
  <br>
  <br>
  <a href="{{ url_for('index') }}"><button class="btn" color="">Volver</button> </a> 
    </div>
  </div>
</div>
</div>
{% endblock %}
