<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservas.css')}}">
</head>
<body class="w3-content">

<!-- Sidebar/menu -->
<header> <h1 class="page-title">Reserva tu cabaña</h1></header>


<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="{{ url_for('reserva') }}" target="_blank" method="post" class="form" id="form1">
			
      <div class="input-group">
        <label><i class="fa fa-calendar-check-o"></i> Fecha ingreso</label>
        <input type="date" placeholder="DD / MM / AAAA" class="input" name="fcheckin" required/>
    </div>

    <div class="input-group">
      <label><i class="fa fa-calendar-check-o"></i> Fecha salida</label>
      <input type="date" placeholder="DD / MM / AAAA" class="input" name="fcheckout" required/>
  </div>

  <div class="input-group">
    <label><i class="fa fa-male"></i> Nombre y Apellido</label>
    <input type="text" placeholder="Nombre Apellido" class="input" name="fname" required/>
  </div>

    <div class="input-group">
      <label><i class="fa fa-envelope"></i> Email</label>
      <input type="email" placeholder="ejemplo@gmail.com" class="input" name="femail" required/>
  </div>
  
  <div class="input-group">
    <label><i class="fa fa-id-card"></i> DNI</label>
    <input type="text" placeholder="12345678" class="input" name="fdni" required/>
  </div>
		
  <div class="input-group">
    <label><i class="fa fa-phone"></i> Numero de telefono</label>
    <input type="text" placeholder="11-1234-5678" class="input" name="fnumber" required/>
  </div>

			<button type="submit"class="btn">Reservar</button>
		</form>
	</div>

  <div class="calendario-wrapper">
    <header>
      <h2>Junio</h2>
    </header>
    <div class="calendar">
      <div class="calendar__header">
          <div class="header-day">Lu</div>
          <div class="header-day">Ma</div>
          <div class="header-day">Mi</div>
          <div class="header-day">Ju</div>
          <div class="header-day">Vi</div>
          <div class="header-day">Sá</div>
          <div class="header-day">Do</div>
      </div>
      <div class="calendar__week">
          <div class="calendar__day busy_day"> <b class="day">1</b></div>
          <div class="calendar__day busy_day"> <b class="day">2</b></div>
          <div class="calendar__day busy_day"> <b class="day">3</b></div>
          <div class="calendar__day busy_day"> <b class="day">4</b></div>
          <div class="calendar__day  busy_day"> <b class="day">5</b></div>
          <div class="calendar__day"> <b class="day">6</b></div>
          <div class="calendar__day"><b class="day">7</b></div>
      </div>
      <div class="calendar__week">
          <div class="calendar__day"> <b class="day">8</b></div>
          <div class="calendar__day"> <b class="day">9</b></div>
          <div class="calendar__day"><b class="day">10</b></div>
          <div class="calendar__day"> <b class="day">11</b></div>
          <div class="calendar__day"> <b class="day">12</b></div>
          <div class="calendar__day"> <b class="day">13</b></div>
          <div class="calendar__day"> <b class="day">14</b></div>
      </div>
      <div class="calendar__week">
          <div class="calendar__day"> <b class="day">15</b></div>
          <div class="calendar__day"> <b class="day">16</b></div>
          <div class="calendar__day"> <b class="day">17</b></div>
          <div class="calendar__day"> <b class="day">18</b></div>
          <div class="calendar__day"> <b class="day">19</b></div>
          <div class="calendar__day"> <b class="day">20</b></div>
          <div class="calendar__day"> <b class="day">21</b></div>
      </div>
      <div class="calendar__week">
          <div class="calendar__day busy_day"> <b class="day">22</b></div>
          <div class="calendar__day busy_day"><b class="day">23</b></div>
          <div class="calendar__day busy_day"><b class="day">24</b></div>
          <div class="calendar__day busy_day"> <b class="day">25</b></div>
          <div class="calendar__day busy_day"> <b class="day">26</b></div>
          <div class="calendar__day busy_day"> <b class="day">27</b></div>
          <div class="calendar__day"> <b class="day">28</b></div>
      </div>
      <div class="calendar__week">
          <div class="calendar__day"><b class="day">29</b></div>
          <div class="calendar__day"><b class="day">30</b></div>
          <div class="calendar__day"><b class="day">31</b></div>
          <div class="calendar__day"><b class="day">1</b></div>
          <div class="calendar__day"><b class="day">2</b></div>
          <div class="calendar__day"><b class="day">3</b></div>
          <div class="calendar__day"><b class="day">4</b></div>
      </div>
  </div>
  </div>

  <div class="w3-hide-large" style="margin-top:80px"></div>
{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='js/hab.js')}}"></script>

</body>
</html>
<p></p>

