body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #EBF0F5;
  }
  .card {
    text-align: center;
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
  }
  h1 {

    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
  }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
  }
  .circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: #F8FAF5;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .btn {
	background-color: var(--blue);
	background-image: linear-gradient(90deg, #4CAF50 0%, #C6FF00 74%); /* Gradiente del botón */
	border-radius: 20px;
	border: 1px solid var(--blue);
	color: black;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}